* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.header-section {
  margin-top: 16px;
  margin-left: 16px;
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#datetime-picker {
  margin-bottom: 10px;
  padding: 8px;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.field {
  margin: 0 10px;
  text-align: center;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.label {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}

.input-container {
  display: flex;
  gap: 8px;
}

button[disabled] {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #cfcfcf;
  color: #989898;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button[disabled]:hover,
button[disabled]:focus {
  cursor: not-allowed;
}

button {
  border-radius: 8px;
  background: #4e75ff;
  color: #ffffff;

  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 75px;
  height: 40px;
  border: initial;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:enabled:hover,
button:enabled:focus {
  background-color: #6c8cff;
  color: #ffffff;
}

input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  flex-shrink: 0;
}

input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}
